.card-sug {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 32px;
    isolation: isolate;
    width: 430px;
    height: 604px;
    background-color: #F8F8F8;
    box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    border: 2px solid black;
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 10;
  }
  
  .separator {
    background-color: rgba(204, 204, 204, 1);
    width: 398px;
    height: 2px;
  }
  
  .header {
    font-weight: bold;
    text-align: center;
    width: 326px;
    height: 48px;
  }
  
  .header-text {
    font-family: 'Poppins', sans-serif;
    color: rgba(77, 77, 77, 1);
    font-size: 20px;
    font-weight: 600;
  }
  
  .highlight {
    color: #000;
  }
  
  .form-sug {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
    height: 574px;
    position: relative;
  }
  
  .textarea-container {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    height: 170px;
    background-color: rgba(224, 224, 224, 1);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    height: 70%;
    resize: none;
    background-color: rgba(224, 224, 224, 1);
    color: #000;
  }
  
  .attach-button {
    position: absolute;
    bottom: 3%;
    display: flex;
    align-self: 'flex-start';
    width: 88px;
    height: 37px;
    margin-top: 15px;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(199, 199, 199, 1);
    text-transform: none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
  }
  
  .attach-button svg {
    margin-right: 5px;
  }
  
  .label-sug {
    font-family: 'Poppins', sans-serif;
    color: rgba(77, 77, 77, 1);
    padding: 2px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    display: block;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: rgba(15, 15, 15, 1);
    opacity: 0.6;
    color: #fff;
    cursor: pointer;
    width: 114px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .input-sug{
    padding: 10px;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    color: #000;
  }
  
  .submit-button.active {
    background-color: black;
    opacity: 1;
  }
  @media (max-width: 576px) {
    .card-sug {
      position: relative;
      width: 100%;
      height: 694px;
      top: 6%;
      bottom: 0%;
      padding: 12px;
      gap: 24px;
      border-radius: 20px 20px 0 0;
      right: unset;
    }
  }
  